.video__iframe {
  border-right-width: 0px;
  border-right-style: solid;
  border-left-width: 0px;
  border-left-style: solid;
  border-top-width: 0px;
  border-top-style: solid;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  padding-right: 20px;
}
